.container-logo {
  min-width: 15rem;
  background-color: #f83745;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  &__logo {
    height: 80px;
    width: 120px;
    cursor: pointer;
  }
}
.rest-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  .search {
    margin-left: 3rem;
  }
  .user {
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    margin-right: 5rem;
    color: white;

    font-size: 1.2rem;
  }
  .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/0169/6995/7440/products/G_2020_MVL_DP_HEAD_headshot01_0e0cea8c-8d7a-42c7-b056-9831a76a0151_2000x.jpg?v=1593474484);
    position: absolute;
    background-position: center;
    background-size: cover;
    bottom: -22px;
    right: 5rem;
    cursor: no-drop;
  }
}
.search {
  width: 14rem;

  background: white;
  border-radius: 200px;
  height: $search-height;
  display: flex;
  align-items: center;
  transition: all 0.75s ease-in-out;
  &__icon {
    font-size: 1.4rem;
  }
  &__text {
    border: 0;
    margin-left: 1rem;
    background: transparent;
    outline: 0;
    color: rgb(22, 22, 22);
    float: left;
    line-height: $search-height;
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
  }

  &__button {
    border-radius: 50%;
    height: $search-height;
    width: $search-height;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
}

//side nav
.menu-section {
  margin-bottom: 1.5rem;
}
.menu {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.671);
  font-size: 0.9rem;
  &-nav {
    padding: 0px;
    &__link {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
  &__icon {
    font-size: 1.5rem;

    margin-right: 1rem;
  }
}
.general {
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  &-nav {
    padding: 0px;
    &__link {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      text-transform: capitalize;
      cursor: pointer;
      justify-content: flex-start;
    }
  }
  &__icon {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}
.heart {
  color: #ff424f;
}
.soon {
  font-size: 1.3rem;
}
.setting {
  font-size: 1.43rem;
}
.challenges-container {
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  position: absolute;
}
.challenges {
  border-radius: 15px;
  padding: 2rem;
  background-color: #ff424fe0;
  height: auto;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.up {
  cursor: pointer;
  font-size: 1.8rem;
}
