.header {
  display: flex;
  width: 100vw;
  background-color: #ff424f;
  position: fixed;
  z-index: 100;
}
.nav {
  padding-top: 8.5rem;
  height: 100vh;
  width: 15rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #191c1f;
  color: white;
  padding-left: 2.5rem !important;
  z-index: 11;
}
.home {
  display: flex;
  position: relative;
  height: auto;
}
.x0 {
  transform: translateX(-100%);
}
.homeScreen {
  height: 100vh;
}
.landing {
  width: 100vw;
  background-color: #222b31;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0rem;
  right: 0;
  &__image {
    height: 200px;
    background-image: linear-gradient(
        to right,
        rgba(95, 37, 37, 0.842),
        rgba(100, 25, 25, 0.836)
      ),
      url(../assests/marvel.jpg);
  }
  &__copy {
    padding: 0.8rem 0;
    width: calc(100vw - 15rem);
    background-color: #2a2b2c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    letter-spacing: 0.5px;
    font-size: 0.95rem;
  }
}
.home {
  width: 100vw;
  user-select: none;
}
.gradient {
  width: calc(100vw - 15rem);
  height: 100vh;
  background-image: linear-gradient(to top left, #5c0f0fd3 0%, #4e2424d5 100%);
  position: absolute;
  padding-top: 96px;
  top: 0;
  right: 0;
  z-index: 10;
}

.image {
  width: 100vw;
  height: 100vh;
  object-position: right;
  position: absolute;
  padding-top: 96px;
  padding-left: 15rem;
  top: 0;
  left: 0;
}
.popular {
  padding-left: 15rem;
  width: calc(100vw - 15rem);
  color: white;
  &__title {
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
