.search-con {
  background-color: #1e1e1e;
  margin-left: 15rem;
  padding-right: 3rem;
  margin-top: 96px;
  width: calc(100vw - 15rem);
  color: white;
  position: relative;
  .search-results {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    width: 160px;
    height: 100%;
    background-color: rgb(50, 48, 51);
    position: fixed;
    top: 0;
  }
}
