@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Maven Pro" !important;
}

.container-logo {
  min-width: 15rem;
  background-color: #f83745;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.container-logo__logo {
  height: 80px;
  width: 120px;
  cursor: pointer;
}

.rest-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.rest-container .search {
  margin-left: 3rem;
}

.rest-container .user {
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
  margin-right: 5rem;
  color: white;
  font-size: 1.2rem;
}

.rest-container .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(https://cdn.shopify.com/s/files/1/0169/6995/7440/products/G_2020_MVL_DP_HEAD_headshot01_0e0cea8c-8d7a-42c7-b056-9831a76a0151_2000x.jpg?v=1593474484);
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: -22px;
  right: 5rem;
  cursor: no-drop;
}

.search {
  width: 16rem;
  background: white;
  border-radius: 200px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  transition: all 0.75s ease-in-out;
}

.search__icon {
  font-size: 1.4rem;
}

.search__text {
  border: 0;
  margin-left: 1rem;
  background: transparent;
  outline: 0;
  color: #161616;
  float: left;
  line-height: 2.5rem;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
}

.search__button {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.menu-section {
  margin-bottom: 1.5rem;
}

.menu {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.671);
  font-size: 0.9rem;
}

.menu-nav {
  padding: 0px;
}

.menu-nav__link {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.95rem;
  letter-spacing: 1.3px;
  text-transform: capitalize;
}

.menu__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.general {
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.general-nav {
  padding: 0px;
}

.general-nav__link {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 0.95rem;
  letter-spacing: 1.3px;
  align-items: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  justify-content: flex-start;
}

.general__icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.heart {
  fill: #ff424f;
}

.soon {
  font-size: 1.5rem;
}

.setting {
  font-size: 1.43rem;
}

.challenges-container {
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  position: absolute;
}

.challenges {
  border-radius: 15px;
  padding: 2rem;
  background-color: #ff424fe0;
  height: auto;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.up {
  cursor: pointer;
  font-size: 1.8rem;
}

.buttons-container {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 110px;
  left: 30px;
}

.back {
  fill: #f3f3f3;
  margin-right: 0.9rem;
  cursor: pointer;
  z-index: 111;
}

.forward {
  fill: #f3f3f3;
  cursor: pointer;
  z-index: 111;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
}

.content__stats {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.808);
}

.content__stats > * {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.content__gist {
  margin: 1rem 0;
  margin-bottom: 2rem;
  color: white;
  line-height: 1.8;
  width: 28rem;
}

.content__title {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  width: 45rem;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
}

.content__buttons button {
  margin-right: 3rem;
  border-radius: 70px;
  outline: none;
  border: none;
  color: #f83939;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.content__buttons button svg {
  font-size: 2rem;
}

.content__buttons button:first-child {
  border-radius: 70px;
  outline: none;
  border: none;
  color: #f83939;
  padding: 0.8rem 2.5rem;
}

.stat {
  font-size: 2rem;
  fill: white;
  margin-right: 0.5rem;
}

.content__buttons_con {
  display: flex;
  align-items: center;
}

.add {
  margin-left: 6px;
}

.online {
  width: 15px;
  border-radius: 50%;
  height: 15px;
  background-color: #0bff0b;
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.slider {
  display: flex;
  width: auto;
}

.card-container {
  margin-left: 4rem;
}

.card {
  height: 13rem;
  width: 15rem;
  background-color: transparent !important;
}

.card_image {
  object-fit: cover;
}

.card_rating {
  height: 2rem;
  width: 2rem;
  background-color: #e45858;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card_title {
  margin-top: 0.8rem;
  text-transform: capitalize;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.card_genres {
  color: #a1cae5;
}

.first {
  margin-bottom: 20rem;
}

.header {
  display: flex;
  width: 100vw;
  background-color: #ff424f;
  position: fixed;
  z-index: 100;
}

.nav {
  padding-top: 8.5rem;
  height: 100vh;
  width: 15rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #191c1f;
  color: white;
  padding-left: 2.5rem !important;
  z-index: 10;
}

.home {
  display: flex;
  position: relative;
}

.landing {
  width: 100vw;
  height: 450vh;
  background-color: #222b31;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__image {
  height: 200px;
  background-image: linear-gradient(to right, rgba(95, 37, 37, 0.842), rgba(100, 25, 25, 0.836)), url(../assests/marvel.jpg);
}

.footer__copy {
  padding: 0.8rem 0;
  width: calc(100vw - 15rem);
  background-color: #2a2b2c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  letter-spacing: 0.5px;
  font-size: 0.95rem;
}

.home {
  width: 100vw;
  height: 100vh;
}

.gradient {
  width: calc(100vw - 15rem);
  height: 100vh;
  background-image: linear-gradient(to top left, #3d0f0fd3 0%, #301717d5 100%);
  position: absolute;
  padding-top: 96px;
  top: 0;
  right: 0;
  z-index: 10;
}

.image {
  width: 100vw;
  height: 100vh;
  object-position: right;
  position: absolute;
  top: 0;
  left: 0;
}

.popular {
  padding-left: 15rem;
  width: calc(100vw - 15rem);
  color: white;
}

.popular__title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/*# sourceMappingURL=main.css.map */